

{% load static %}
<!doctype html>

<html class="no-js" lang="zxx">

    <head>

    	<!-- Metas -->
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="keywords" content="HTML5 Template Arco onepage themeforest" />
		<meta name="description" content="Arco - Onepage Multi-Purpose HTML5 Template" />
		<meta name="author" content="" />

		<!-- Title  -->
		<title>CAP-MAT</title>

		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" />

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">

		<!-- Plugins -->
		<link rel="stylesheet" href="{% static 'acro/css/plugins.css' %}" />

        <!-- Core Style Css -->
        <link rel="stylesheet" href="{% static 'acro/css/style.css' %}" />

    </head>
    
    <body>

    	<!-- =====================================
    	==== Start Loading -->

    	<div class="loading">
    		<div class="text-center middle">
    			<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    		</div>
    	</div>
        
    	<!-- End Loading ====
    	======================================= -->

		<!-- =====================================
    	==== Start Navbar -->

		<nav class="navbar navbar-expand-lg">
			<div class="container">

				<h5 style="color: #FFFFFF;">
					<a  href="{% url 'home' %}">Cap-Mat  </a>     
				</h5>

			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="icon-bar"><i class="fas fa-bars"></i></span>
			  </button>

			  <!-- navbar links -->
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item">
			        <a class="nav-link active" href="{% url 'home' %}" style="color: #FFFFFF;">Home</a>
			      </li>
			      <li class="nav-item">
                    <a class="nav-link" href="{% url 'question_an' %}" data-scroll-nav="0">Espace d'Échanges et de Réflexion</a>
                  </li>
			      <li class="nav-item">
			        <a class="nav-link" href="{% url 'students:MesTechnologies_list' %}" >La Banque de technologies</a>
				
				</li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'students:forum_list' %}" >Projets & Idées</a>
                  </li>
		
			    </ul>
			  </div>
			</div>
		</nav>

    	<!-- End Navbar ====
    	======================================= -->

		<!-- ====== Header ======  -->
		<section id="home" class="min-header" data-scroll-index="0">

			<div class="v-middle mt-30">
				<div class="container">
					<div class="row">

						<div class="text-center col-md-12">
							<h5>Espace d'Échanges et de Réflexion</h5>
							<a href="{% url 'students:MesTechnologies_list' %}">La Banque de technologies</a>
							<a href="{% url 'students:forum_list' %}">Projets & Idées</a>
						</div>

					</div>
				</div><!-- /row -->
			</div><!-- /container -->
		</section>
		<!-- ====== End Header ======  -->

		<!--====== Blog ======-->
		<section class="blogs section-padding">
			<div class="container">
				<div class="row">
					
					<div class="col-md-8">
						<div class="posts">
                            {% for question in questions %}
							<div class="post">
								<div class="post-img">
									<a class="half-width">
										<img src="{% static 'acro/img/question.jpg' %}" alt="">
									</a>
								</div>
								<div class="content text-center">
									<div class="post-meta">
										<div class="post-title">
											<h5>

                                         
												<a href="/question/{{ question.qid }}/{{ question.slug }}">{{ question.question_title }}</a>
											</h5>
										</div>
									
									</div>

									<div class="post-cont">
										<p>{{ question.question_text|truncatechars:300|slice:"-4" }}....</p>
									</div>

								

								</div>
							</div>
                            {% endfor %}




                          
                          












							<div class="pagination">
								<ul>
									<li>
										<a href="#0">First</a>
									</li>
									<li>
										<a href="#0">1</a>
									</li>
									<li>
										<a href="#0">2</a>
									</li>
									<li>
										<a href="#0">last</a>
									</li>
								</ul>
							</div>

						</div>
					</div>

					<div class="col-md-4">
						<div class="side-bar">
							<div class="widget search">
								<form>
									<input type="search" name="" placeholder="Type here ...">
									<button type="submite"><i class="fa fa-search" aria-hidden="true"></i></button>
								</form>
							</div>

							<div class="widget">
								<div class="widget-title">
									<h6>Poser une question</h6>
								</div>
								<ul>
									<li><a href="{% url 'ask_question' %}">Poser une question</a></li>
								</ul>
							</div>

							<div class="widget">
								<div class="widget-title">
									<h6>Les questions les plus récemment </h6>
								</div>
								<ul>
									{% for question in questions %}
									<li><a href="/question/{{ question.qid }}/{{ question.slug }}">{{ question.question_title }}</a></li>
									
								    {% endfor %}
								</ul>
								
							
							</div>

					
					

						</div>
					</div>

				</div>
			</div>
		</section>
		<!--====== End Blog ======-->




		<!-- =====================================
        ==== Start Footer -->

        <footer class="text-center">
            <div class="container">


				<p>&copy; 2020 ERPI Laboratory. All Rights Reserved.</p>
				<p>CAPteurs intelligents pour la transformation des MATériaux (des ressources aux produits : CAP-MAT" est cofinancé par l'union européenne dans le cadre opérationnel FEDER-FSE Lorraine et Massif des Vosges 2014-2020</p>

            </div>
        </footer>

        <!-- End Footer ====
        ======================================= -->



       
        <!-- jQuery -->
		<script src="{% static 'acro/js/jquery-3.0.0.min.js' %}"></script>
		<script src="{% static 'acro/js/jquery-migrate-3.0.0.min.js' %}"></script>

		<!-- popper.min -->
		<script src="{% static 'acro/js/popper.min.js' %}"></script>

	  	<!-- bootstrap -->
		<script src="{% static  'acro/js/bootstrap.min.js' %}"></script>

		<!-- scrollIt -->
		<script src="{% static  'acro/js/scrollIt.min.js' %}"></script>

		<!-- animated.headline -->
		<script src="{% static  'acro/js/animated.headline.js' %}"></script>

		<!-- jquery.waypoints.min -->
		<script src="{% static  'acro/js/jquery.waypoints.min.js' %}"></script>

		<!-- jquery.counterup.min -->
		<script src="{% static  'acro/js/jquery.counterup.min.js' %}"></script>

		<!-- owl carousel -->
		<script src="{% static  'acro/js/owl.carousel.min.js' %}"></script>

		<!-- jquery.magnific-popup js -->
		<script src="{% static  'acro/js/jquery.magnific-popup.min.js' %}"></script>

		<!-- stellar js -->
		<script src="{% static  'acro/js/jquery.stellar.min.js' %}"></script>

      	<!-- isotope.pkgd.min js -->
      	<script src="{% static  'acro/js/isotope.pkgd.min.js' %}"></script>

        <!-- YouTubePopUp.jquery -->
        <script src="{% static  'acro/js/YouTubePopUp.jquery.js' %}"></script>

      	<!-- validator js -->
      	<script src="{% static  'acro/js/validator.js' %}"></script>

      	<!-- custom scripts -->
        <script src="{% static  'acro/js/scripts.js' %}"></script>

    </body>
</html>





























